debian/stsbl-iserv-collect-wlan-ips/*
debian/stsbl-iserv-collect-wlan-ips.substvars
debian/stsbl-iserv-collect-wlan-ips.debhelper.log
debian/files
debian/debhelper-build-stamp
debian/*.debhelper
/Makefile.iservmake
/system-locale
!/locale/templates/*_misc.pot
/public/assets
/.php-cs-fixer.cache
